.list-filters {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 330px;
  min-width: 240px;
  height: 100%;
  padding: 28px 24px 24px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 15px;
}

.list-filters__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.clear-filter-button {
  cursor: pointer;
  position: relative;
  padding: 5px;
  border-radius: 50%;
  color: var(--primary-color);
}

.clear-filter-button:hover {
  background-color: rgba(144, 144, 144, 0.2);
}
