.login-container {
  background: none;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url(../../public/images/login-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .login-container {
    background-image: none;
    background-color: #fff;
  }
}

.login {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 100vh;
  min-width: 320px;
  max-width: 600px;
  padding: 80px;
  margin: 0;
  background-color: #fff;
}

@media (max-width: 1200px) {
  .login {
    max-width: 450px;
    padding: 40px;
    margin: auto;
  }
}

@media (max-width: 380px) {
  .login {
    padding: 10px;
  }
}

.login__form {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
}

.remember-forgot-pass-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.login__forgot-pass-link {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.login__forgot-pass-link:hover {
  text-decoration: underline;
}

.login__footer {
  color: var(--grey-4);
  font-weight: 500;
  font-size: 12px;
  line-height: 2;
}

.login__privacy-policy-link {
  text-decoration: underline;
}

.login__privacy-policy-link:hover {
  text-decoration: none;
}
