.table-wrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  border-style: hidden;
}

.tag-container {
  display: inline-flex;
  gap: 6px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px ;
}

.table-tag {
  padding: 4px 8px;
  background-color: var(--primary-color);
  border-radius: 6px;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

.table tr td {
  cursor: pointer;
}

.table th,
.table td {
  white-space: nowrap;
  padding-right: 20px;
}

.table th {
  color: var(--grey-4);
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
}
.table .th-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.table th:nth-child(-n + 3),
.table th:nth-child(n + 5) {
  cursor: pointer;
}

.selected {
  text-decoration: underline;
}

.table td {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e6e6ea;
  font-weight: 500;
  font-size: 15px;
  color: var(--main-text-color);
  text-overflow: ellipsis;
  overflow: hidden;
}

.table td:first-child {
  font-weight: 600;
}

.table td:first-child,
.table th:first-child {
  padding-left: 24px;
}
