.text-filter {
  display: flex;
  align-items: center;
}

.text-filter__label {
  font-weight: 700;
  font-size: 18px;
  margin-right: 24px;
}

.text-filter__cuntomInput {
  display: inline-flex;
  align-items: center;
  background-color: var(--grey-3);
  border-radius: 8px;
  padding: 12px 15px;
}

.text-filter__inputContainer {
  display: inline-block;
}

.text-filter__input-hidden-placeholder {
  height: 0;
  visibility: hidden;
}
.text-filter__input {
  display: inline;
  width: 100%;
  background: none;
  color: var(--grey-5);
  border: none;
}

.text-filter__input:focus {
  outline: none;
}

.text-filter__input::placeholder,
.text-filter__input-hidden-placeholder {
  font-size: 14px;
  font-weight: 500;
}

.text-filter__icon {
  color: var(--grey-6);
  margin-right: 10px;
}
